[submodule "public"]
	path = public
	url = git@github.com:boosterl/boosterl.github.io.git
	branch = master
[submodule "themes/ezhil"]
	path = themes/ezhil
	url = https://github.com/vividvilla/ezhil.git
	branch = master
